extends layoutBS

block content
  .jumbotron
    h1.display-4= title
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">1st</div>
    <div class="card-body">
      <h5 class="card-title">player1</h5>
      <p class="card-text">98 wins out of 100 games</p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">2nd</div>
    <div class="card-body">
      <h5 class="card-title">player2</h5>
      <p class="card-text">98 wins out of 110 games</p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">3rd</div>
    <div class="card-body">
      <h5 class="card-title">player3</h5>
      <p class="card-text">80 wins out of 100 games</p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">4th</div>
    <div class="card-body">
      <h5 class="card-title">player4</h5>
      <p class="card-text">50 wins out of 100 games</p>
    </div>
  </div>

  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">5th</div>
    <div class="card-body">
      <h5 class="card-title">player5</h5>
      <p class="card-text">17 wins out of 100 games</p>
    </div>
  </div>
