extends layoutBS

block content
  h1 Image Demo
  p Let's put three images here!
  .container
    .row
      .blue.col-sm-4
        img(src="/images/Blue.png" width="100%")
      .red.col-4
        img(src="/images/Blue.png" width="100%")
      .green.col-4
        img(src="/images/Blue.png" width="100%")
  img(src="/images/Blue.png" width="66%")
  img(src="/images/Blue.png" width="33%")
  .container
    .row
      .white.col-2
        img(src="/images/Blue.png" width="100%")
      .white.col-2
        img(src="/images/Blue.png" width="100%")
      .white.col-2
        img(src="/images/Blue.png" width="100%")
      .white.col-2
        img(src="/images/Blue.png" width="100%")
      .white.col-2
        img(src="/images/Blue.png" width="100%")
      .white.col-2
        img(src="/images/Blue.png" width="100%")

  //col-# where # is the fraction out of 12 that you want width of column to be
