doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/menubar.css')
    block head
  body
    .nav
      ul
        li.home
          a(href="/") Not Used
        li.cssdemo
          a(href="/cssdemo") Not Used
        li.about
          a(href="about") Not Used
    block content
