extends layoutBS


    <!DOCTYPE html>
    <html>
      <head>
      </head>
      <body>
        <span id="body" class="ctr-p" >
          <center>
            <meta charset="utf-8">
            <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
            <!-- <style> body {padding: 0; margin: 0;} </style> -->

            <script src="../p5.min.js"></script>
            <script src="../addons/p5.dom.min.js"></script>
            <script src="../addons/p5.sound.min.js"></script>
            <script src="/routes/AI.js"></script>
            <script src="/routes/Point.js"></script>
            <script src="/routes/BoardPrinter.js"></script>

            <script src="/routes/TicTacToe.js"></script>

            <script src="/routes/sketch.js"></script>
          </center>
        </span>
      </body>
    </html>
